pkgbase = synfig-core
	pkgdesc = Professional, Open Source 2D Animation Software. Core package providing the CLI renderer
	pkgver = 1.5.1
	pkgrel = 1
	url = https://www.synfig.org/
	arch = x86_64
	arch = armv7h
	arch = armv8
	arch = riscv32
	arch = riscv64
	license = GPL2
	makedepends = boost
	makedepends = git
	makedepends = intltool
	makedepends = opencl-headers
	depends = boost-libs
	depends = cairo
	depends = ffmpeg
	depends = fftw
	depends = fontconfig
	depends = freetype2
	depends = glibmm
	depends = imagemagick
	depends = libdv
	depends = libmng
	depends = libpng
	depends = libsigc++2.0
	depends = libtiff
	depends = libxml++2.6
	depends = mlt
	depends = ocl-icd
	depends = openexr
	depends = pango
	depends = etl=1.5.1
	depends = zlib
	optdepends = openexr
	optdepends = libsigc++
	provides = synfig
	conflicts = synfig
	conflicts = synfig-dev
	conflicts = synfig-git
	replaces = synfig
	replaces = synfig-dev
	replaces = synfig-git
	source = synfig-1.5.1.tar.gz::https://github.com/synfig/synfig/archive/v1.5.1.tar.gz
	sha512sums = 0c1dd53a445f037bcdb742d7c17d1d3a2039e80d3e49f5cd67119fb9792d96b47154874d5be42d36443b0d09c61b7864dfe33ebd5f3998783c54eb3cc936d11b

pkgname = synfig-core
